
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


.card {
    border-radius: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    background-color: #dc3545;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    color: rgb(71, 209, 17);
}

.list-group-item button:hover {
    background-color: #bd2130;
}

#taskInput:focus {
    border-color: #007bff;
    box-shadow: none;
}

